public/flow/MQTT_SUB.json
[{"id":"72c515dc.e3f02c","type":"debug","z":"fbd84719.d93558","name":"","active":false,"console":"false","complete":"payload","x":344.11109924316406,"y":40.5,"wires":[]},{"id":"66501ffb.522f9","type":"function","z":"fbd84719.d93558","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( JSON.parse(msg.payload));\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":133.48611450195312,"y":110.88671875,"wires":[["59d9b51c.37ce2c"]]},{"id":"7c309115.7e546","type":"inject","z":"fbd84719.d93558","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":129.49002075195312,"y":247.69141387939453,"wires":[["91d2b30d.b3a9a"]]},{"id":"91d2b30d.b3a9a","type":"function","z":"fbd84719.d93558","name":"Save finalList to DB","func":"var msgTools = context.global.msgTools;\nvar listDbTools = context.global.listeDbTools;\nvar list = msgTools.getFinalList();\nnode.warn('list :'+JSON.stringify(list));\n//msgTools.saveFinalListToFile();\nlistDbTools.updateList('finalist',list,function(err,result){\n    if(err)\n        node.warn('Save final list to database err:'+err);\n    else\n         node.log('Save final list to database success');\n});\n\nreturn;","outputs":1,"noerr":0,"x":345.4939270019531,"y":247.87889862060547,"wires":[[]]},{"id":"d536b77f.c52c58","type":"comment","z":"fbd84719.d93558","name":"Auto save finalList to file per 5 minutes","info":"","x":184.48611450195312,"y":204.33203125,"wires":[]},{"id":"59d9b51c.37ce2c","type":"function","z":"fbd84719.d93558","name":"Save message to  DB","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\nnode.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":411.4899597167969,"y":115.38671875,"wires":[["838d43f8.a0d89"]]},{"id":"838d43f8.a0d89","type":"debug","z":"fbd84719.d93558","name":"","active":false,"console":"false","complete":"false","x":746.493896484375,"y":112.03515625,"wires":[]},{"id":"53c2ebb9.9df704","type":"mqtt in","z":"fbd84719.d93558","name":"blazing-mqtt","topic":"df.blazing-mqtt.uldata","qos":"2","broker":"a5816992.90fa08","x":104.11111450195312,"y":33.111114501953125,"wires":[["72c515dc.e3f02c","66501ffb.522f9"]]},{"id":"a5816992.90fa08","type":"mqtt-broker","z":"","broker":"emqs-blazing.giotgateway.com ","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]